{{#if hasPermission}}
{{#paper-card class="m-0 flex" as |card|}}
	{{#card.content class="p-0 layout-column layout-align-start-stretch"}}
		{{#paper-subheader}}
		<div class="layout-row layout-align-space-between-center" style="font-size:16px;">
			<div class="flex layout-row layout-align-start-center">
			{{#each breadcrumbStack as |parentCrumb idx|}}
				{{#if idx}}&nbsp; &gt; &nbsp;{{/if}}
				{{#if (eq idx (sub breadcrumbStack.length 1))}}
					{{parentCrumb.displayName}}
				{{else}}
					<a href="#" {{action "controller-action" "changeSelectedFeature" parentCrumb}}>
						{{parentCrumb.displayName}}
					</a>
				{{/if}}
			{{/each}}
			</div>
			{{#paper-switch class="m-0" value=(await model.isTenantSubscribed) onChange=(perform modifyTenantFeatureStatus) disabled=(not (and (await model.parent.isTenantSubscribed) (eq model.deploy 'custom')))}}
				{{#if (await model.isTenantSubscribed)}}
					Subscribed
				{{else}}
					Unsubscribed
				{{/if}}
			{{/paper-switch}}
		</div>
		{{/paper-subheader}}
		<div class="mx-3 pt-2 pb-4 layout-row layout-align-start-center">
			{{model.description}}
		</div>
		{{#if (get (await model.permissions) 'length')}}
			{{paper-divider class="mt-4"}}
			{{#paper-subheader}}Permissions{{/paper-subheader}}
			{{#paper-data-table sortProp="displayName" sortDir="asc" as |table|}}
				{{#table.head as |head|}}
					{{#head.column sortProp="displayName"}}Name{{/head.column}}
					{{#head.column}}Description{{/head.column}}
				{{/table.head}}
				{{#table.body as |body|}}
					{{#each (sort-by table.sortDesc (await model.permissions)) as |permission|}}
						{{#body.row as |row|}}
							{{#row.cell}}{{permission.displayName}}{{/row.cell}}
							{{#row.cell}}{{permission.description}}{{/row.cell}}
						{{/body.row}}
					{{/each}}
				{{/table.body}}
			{{/paper-data-table}}
		{{/if}}
		{{#if (get (await model.features) 'length')}}
			{{paper-divider class="mt-4"}}
			{{#paper-subheader}}Sub Features{{/paper-subheader}}
			{{#paper-data-table sortProp="displayName" sortDir="asc" as |table|}}
				{{#table.head as |head|}}
					{{#head.column sortProp="displayName"}}Name{{/head.column}}
					{{#head.column}}Description{{/head.column}}
					{{#head.column}}Access Level{{/head.column}}
				{{/table.head}}
				{{#table.body as |body|}}
					{{#each (sort-by table.sortDesc (await model.features)) as |feature|}}
						{{#if (eq feature.type 'feature')}}
							{{#body.row onClick=(action "controller-action" "changeSelectedFeature" feature) as |row|}}
								{{#row.cell}}{{feature.displayName}}{{/row.cell}}
								{{#row.cell}}{{feature.description}}{{/row.cell}}
								{{#row.cell}}{{titleize feature.deploy}}{{/row.cell}}
							{{/body.row}}
						{{/if}}
					{{/each}}
				{{/table.body}}
			{{/paper-data-table}}
		{{/if}}
	{{/card.content}}
{{/paper-card}}
{{/if}}
