{{#paper-card class="m-0 flex" as |card|}}
	{{#card.content class="p-0 layout-column layout-align-start-stretch"}}
		{{#paper-subheader}}Basics{{/paper-subheader}}
		<div class="mx-2 mt-4 layout-row layout-align-space-between-center">
			{{paper-input class="flex-80" label="Path" placeholder="Feature Name" value=(await selectedFeature.feature.path) onChange=null readonly=true}}
			{{paper-switch label="Subscribed" value=true onChange=(perform modifyTenantFeatureStatus) disabled=(not-eq (get (await selectedFeature.feature) 'deploy') 'custom')}}
		</div>
		{{paper-divider class="mt-4"}}
		{{#paper-subheader}}Description{{/paper-subheader}}
		<div class="mx-2 pt-2 pb-4 layout-row layout-align-start-center">
			{{get (await selectedFeature.feature) 'description'}}
		</div>
		{{#if (get (await selectedFeature.feature.permissions) 'length')}}
			{{paper-divider class="mt-4"}}
			{{#paper-subheader}}Permissions{{/paper-subheader}}
			{{#paper-data-table sortProp="displayName" sortDir="asc" as |table|}}
				{{#table.head as |head|}}
					{{#head.column sortProp="displayName"}}Name{{/head.column}}
					{{#head.column}}Description{{/head.column}}
				{{/table.head}}
				{{#table.body as |body|}}
					{{#each (sort-by table.sortDesc (await selectedFeature.feature.permissions)) as |permission|}}
						{{#body.row as |row|}}
							{{#row.cell}}{{permission.displayName}}{{/row.cell}}
							{{#row.cell}}{{permission.description}}{{/row.cell}}
						{{/body.row}}
					{{/each}}
				{{/table.body}}
			{{/paper-data-table}}
		{{/if}}
		{{#if (get (await selectedFeature.feature.features) 'length')}}
			{{paper-divider class="mt-4"}}
			{{#paper-subheader}}Sub Features{{/paper-subheader}}
			{{#paper-data-table sortProp="displayName" sortDir="asc" as |table|}}
				{{#table.head as |head|}}
					{{#head.column sortProp="displayName"}}Name{{/head.column}}
					{{#head.column}}Description{{/head.column}}
					{{#head.column}}Access Level{{/head.column}}
				{{/table.head}}
				{{#table.body as |body|}}
					{{#each (sort-by table.sortDesc (await selectedFeature.feature.features)) as |feature|}}
						{{#body.row onClick=(perform changeSelectedFeature feature) as |row|}}
							{{#row.cell}}{{feature.displayName}}{{/row.cell}}
							{{#row.cell}}{{feature.description}}{{/row.cell}}
							{{#row.cell}}{{titleize feature.deploy}}{{/row.cell}}
						{{/body.row}}
					{{/each}}
				{{/table.body}}
			{{/paper-data-table}}
		{{/if}}
		{{paper-divider class="mt-4"}}
	{{/card.content}}
{{/paper-card}}
