{{#if hasPermission}}
{{#paper-card class="m-0 flex" as |card|}}
	{{#card.content class="p-0 layout-column layout-align-start-stretch"}}
		{{#paper-subheader}}
		<div class="layout-row layout-align-space-between-center" style="font-size:0.95rem;">
			<div class="flex layout-row layout-align-start-center layout-wrap">
			{{#each breadcrumbStack as |parentCrumb idx|}}
				{{#if idx}}&nbsp; &gt; &nbsp;{{/if}}
				{{#if (eq idx (sub breadcrumbStack.length 1))}}
					<span style="line-height:2rem;">{{parentCrumb.displayName}}</span>
				{{else}}
					<a href="#" style="line-height:2rem;" {{action "controller-action" "setSelectedGroup" parentCrumb}}>
						{{parentCrumb.displayName}}
					</a>
				{{/if}}
			{{/each}}
			</div>
			{{#if (and editable (await selectedGroup.parent))}}
			<div class="layout-row layout-align-end-center">
				{{#liquid-if (or saveGroup.isRunning cancelGroup.isRunning _confirmedDeleteGroup.isRunning)}}
					{{#paper-button disabled=true onClick=null}}
						{{paper-icon "rotate-left" reverseSpin=true}}
					{{/paper-button}}
				{{else}}
					{{#paper-button primary=true raised=true onClick=(perform saveGroup) disabled=(not selectedGroup.hasDirtyAttributes) bubbles=false}}
						{{paper-icon "save"}} Save
					{{/paper-button}}

					{{#paper-button accent=true raised=true onClick=(perform cancelGroup) disabled=(not selectedGroup.hasDirtyAttributes) bubbles=false}}
						{{paper-icon "cancel"}} Cancel
					{{/paper-button}}

					{{#unless selectedGroup.defaultForNewUser}}
					{{#paper-button warn=true raised=true onClick=(perform deleteGroup) bubbles=false}}
						{{paper-icon "delete"}} Delete
					{{/paper-button}}
					{{/unless}}
				{{/liquid-if}}
			</div>
			{{/if}}
		</div>
		{{/paper-subheader}}
		<div class="mx-3 pt-4 pb-2 layout-row layout-align-start-space-between">
			{{paper-input
				type="text"
				class="flex"
				label="Name"
				value=selectedGroup.displayName
				onChange=(action (mut selectedGroup.displayName))
				disabled=(not (and editable (await selectedGroup.parent))) minLength="3"
			}}

			{{#paper-switch
				value=selectedGroup.defaultForNewUser
				onChange=(action (mut selectedGroup.defaultForNewUser))
				disabled=(or selectedGroup.defaultForNewUser (not (and editable (await selectedGroup.parent))))
			}}
				{{#liquid-if selectedGroup.defaultForNewUser}}
					Default Group
				{{else}}
					Non-default Group
				{{/liquid-if}}
			{{/paper-switch}}
		</div>

		{{#paper-subheader}}Description{{/paper-subheader}}
		<div class="mx-3 pt-2 pb-4 layout-row layout-align-start-center">
			{{paper-input
				textarea=true
				block=true
				class="flex"
				value=selectedGroup.description
				onChange=(action (mut selectedGroup.description))
				passThru=(hash rows=3 maxRows=3)
				disabled=(not (and editable (await selectedGroup.parent)))
			}}
		</div>

		{{#bs-tab as |tab|}}
			{{#tab.pane title="Sub-Groups"}}
				{{component "tenant-administration/group-manager/sub-group-editor-component" model=model selectedGroup=selectedGroup controller-action=(action "controller-action")}}
			{{/tab.pane}}

			{{#tab.pane title="Permissions"}}
				<p>TODO: Group permission editor</p>
			{{/tab.pane}}

			{{#tab.pane title="Users"}}
				{{component "tenant-administration/group-manager/user-group-editor-component" model=model selectedGroup=selectedGroup controller-action=(action "controller-action")}}
			{{/tab.pane}}
		{{/bs-tab}}
	{{/card.content}}
{{/paper-card}}
{{/if}}
