{{#if hasPermission}}
{{#paper-subheader}}
	<div class="layout-row layout-align-space-between-center">
		<span class="flex" style="font-size:1.25rem;">Group Permissions</span>
	</div>
{{/paper-subheader}}

{{#paper-data-table sortProp="featurePermission.displayName" sortDir="asc" selectable=true as |table|}}
	{{#table.head as |head|}}
		{{#head.column checkbox=true}}
			{{#paper-checkbox disabled=true onChange=null}}{{/paper-checkbox}}
		{{/head.column}}
		{{#head.column sortProp="featurePermission.displayName"}}Name{{/head.column}}
		{{#head.column sortProp="featurePermission.description"}}Description{{/head.column}}
	{{/table.head}}
	{{#table.body as |body|}}
		{{#if (await selectedGroup.parent)}}
			{{#each (sort-by table.sortDesc (await selectedGroup.parent.permissions)) as |groupPermission|}}
				{{#body.row as |row|}}
					{{#row.cell checkbox=true}}
						{{#paper-checkbox disabled=(not editable) value=(get (intersect (await groupPermissionIdList) (array (await groupPermission.featurePermission.id))) 'length') onChange=(perform toggleGroupPermission groupPermission)}}{{/paper-checkbox}}
					{{/row.cell}}
					{{#row.cell}}{{await groupPermission.featurePermission.displayName}}{{/row.cell}}
					{{#row.cell}}{{await groupPermission.featurePermission.description}}{{/row.cell}}
				{{/body.row}}
			{{/each}}
		{{else}}
			{{#each (sort-by table.sortDesc (await selectedGroup.permissions)) as |groupPermission|}}
				{{#body.row as |row|}}
					{{#row.cell checkbox=true}}
						{{#paper-checkbox disabled=true value=true onChange=null}}{{/paper-checkbox}}
					{{/row.cell}}
					{{#row.cell}}{{await groupPermission.featurePermission.displayName}}{{/row.cell}}
					{{#row.cell}}{{await groupPermission.featurePermission.description}}{{/row.cell}}
				{{/body.row}}
			{{/each}}
		{{/if}}
	{{/table.body}}
{{/paper-data-table}}
{{/if}}
