{{#liquid-unless hasPermission}}
{{#paper-card as |card|}}
	{{#liquid-if (eq displayForm "loginForm")}}
	{{#card.header class="orange lighten-3" as |header|}}
		{{#header.text as |text|}}
			{{#text.title}}{{fa-icon "sign-in-alt" class="mr-2"}}Login{{/text.title}}
		{{/header.text}}
	{{/card.header}}
	{{#card.content}}
		{{#paper-form onSubmit=(perform doLogin) as |form|}}
		<div class="layout-column flex-100">
			{{form.input type="email" label="Login / Username" value=username onChange=(action (mut username)) required=true}}
			{{form.input type="password" label="Password" value=password onChange=(action (mut password)) required=true}}
			<div class="layout-row layout-align-space-between-center">
				<div class="layout-column">
					<a href="#" {{action "controller-action" "setDisplayForm" "resetPasswordForm"}}>Forgot Password</a>
					<a href="#" {{action "controller-action" "setDisplayForm" "registerForm"}}>Register Account</a>
				</div>
				<div class="layout-column">
					{{#form.submit-button primary=true raised=true disabled=(or form.isInvalid doLogin.isRunning)}}
						{{#liquid-if doLogin.isRunning}}
							{{paper-icon "rotate-left" reverseSpin=true}}
						{{else}}
							{{fa-icon "sign-in-alt" class="mr-2"}}<span>Login</span>
						{{/liquid-if}}
					{{/form.submit-button}}
				</div>
			</div>
		</div>
		{{/paper-form}}
	{{/card.content}}
	{{/liquid-if}}

	{{#liquid-if (eq displayForm "resetPasswordForm")}}
	{{#card.header class="amber lighten-3" as |header|}}
		{{#header.text as |text|}}
			{{#text.title}}{{paper-icon "lock-outline" class="mr-2 pb-1"}}Reset Password{{/text.title}}
		{{/header.text}}
	{{/card.header}}
	{{#card.content}}
		{{#paper-form onSubmit=(perform resetPassword) as |form|}}
		<div class="layout-column flex-100">
			{{form.input type="email" label="Login / Username" value=username onChange=(action (mut username)) required=true}}
			<div class="layout-row layout-align-space-between-center">
				<div class="layout-column">
					<a href="#" {{action "controller-action" "setDisplayForm" "loginForm"}}>Twy&apos;r Login</a>
					<a href="#" {{action "controller-action" "setDisplayForm" "registerForm"}}>Register Account</a>
				</div>
				<div class="layout-column">
					{{#form.submit-button raised=true accent=true disabled=(or form.isInvalid resetPassword.isRunning)}}
						{{#liquid-if resetPassword.isRunning}}
							{{paper-icon "rotate-left" reverseSpin=true}}
						{{else}}
							{{paper-icon "lock-outline" class="mr-1"}}<span>Reset</span>
						{{/liquid-if}}
					{{/form.submit-button}}
				</div>
			</div>
		</div>
		{{/paper-form}}
	{{/card.content}}
	{{/liquid-if}}

	{{#liquid-if (eq displayForm "registerForm")}}
	{{#card.header class="yellow lighten-3" as |header|}}
		{{#header.text as |text|}}
			{{#text.title}}{{paper-icon "person-add" class="mr-2 pb-1"}}Create Account{{/text.title}}
		{{/header.text}}
	{{/card.header}}
	{{#card.content}}
		{{#paper-form onSubmit=(perform registerAccount) as |form|}}
		<div class="layout-column flex-100">
			<div class="layout-row layout-align-space-between-center">
				{{form.input class="flex-45" type="text" label="First Name" value=firstName onChange=(action (mut firstName)) required=true}}
				{{form.input class="flex-45" type="text" label="Last Name" value=lastName onChange=(action (mut lastName)) required=true}}
			</div>
			<div class="layout-row layout-align-space-between-center">
				{{form.input class="flex-45" type="email" label="Email" value=username onChange=(action (mut username)) required=true}}
				{{form.input class="flex-45" type="text" label="Mobile" value=mobileNumber onChange=(action (mut mobileNumber)) required=true}}
			</div>
			<div class="layout-row layout-align-space-between-center">
				{{form.input class="flex-45" type="password" label="Password" value=password onChange=(action (mut password)) required=true}}
				{{form.input class="flex-45" type="password" label="Confirm" value=confirmPassword onChange=(action (mut confirmPassword)) required=true}}
			</div>
			<div class="layout-row layout-align-space-between-center">
				<div class="layout-column">
					<a href="#" {{action "controller-action" "setDisplayForm" "loginForm"}}>Twy&apos;r Login</a>
					<a href="#" {{action "controller-action" "setDisplayForm" "resetPasswordForm"}}>Reset Password</a>
				</div>
				<div class="layout-column">
					{{#form.submit-button raised=true accent=true disabled=(or form.isInvalid registerAccount.isRunning)}}
						{{#liquid-if registerAccount.isRunning}}
							{{paper-icon "rotate-left" reverseSpin=true}}
						{{else}}
							{{paper-icon "person-add" class="mr-1"}}<span>Register</span>
						{{/liquid-if}}
					{{/form.submit-button}}
				</div>
			</div>
		</div>
		{{/paper-form}}
	{{/card.content}}
	{{/liquid-if}}
{{/paper-card}}
{{/liquid-unless}}
