<div class="layout-row layout-align-center-start py-4">
	<div class="layout-column layout-align-start-stretch flex flex-gt-md-80">
		{{#paper-card class="flex" as |card|}}
			{{#card.header class="bg-twyr-component white-text" as |header|}}
				{{#header.text as |text|}}
					{{#text.title}}{{mdi-icon "account-settings" class="mr-2"}}Administration{{/text.title}}
				{{/header.text}}
			{{/card.header}}
			{{#card.content class="p-0 layout-row layout-align-start-stretch layout-wrap flex"}}
				{{#paper-form class="flex-100 flex-gt-sm-50 flex-gt-md-50 flex-gt-lg-30 layout-row layout-align-center-stretch" onSubmit=(perform save) as |form|}}
					{{#paper-card class="m-0 flex" as |card|}}
						{{#card.header as |header|}}
							{{#header.text as |text|}}
								{{#text.title}}Basics{{/text.title}}
							{{/header.text}}
						{{/card.header}}
						{{#card.content class="layout-column layout-align-start-stretch"}}
							{{form.input type="text" class="flex-100" label="Name" value=model.name onChange=(action (mut model.name)) required=true}}
							{{form.input type="url" class="flex-100" label="Domain" value=model.fullDomain onChange=(action (mut model.fullDomain)) required=true}}
						{{/card.content}}
						{{#card.actions class="layout-row layout-align-end-center layout-wrap"}}
							{{#form.submit-button primary=true raised=true onClick=(perform save) disabled=(or form.isInvalid save.isRunning cancel.isRunning (not model.hasDirtyAttributes))}}
								{{#liquid-if save.isRunning}}
									{{paper-icon "rotate-left" reverseSpin=true}}
								{{else}}
									{{paper-icon "save" class="mr-1"}}<span>Save</span>
								{{/liquid-if}}
							{{/form.submit-button}}
							{{#paper-button warn=true raised=true onClick=(perform cancel) disabled=(or save.isRunning cancel.isRunning (not model.hasDirtyAttributes))}}
								{{#liquid-if cancel.isRunning}}
									{{paper-icon "rotate-left" reverseSpin=true}}
								{{else}}
									{{paper-icon "cancel" class="mr-1"}}<span>Cancel</span>
								{{/liquid-if}}
							{{/paper-button}}
						{{/card.actions}}
					{{/paper-card}}
				{{/paper-form}}

				{{#paper-card class="m-0 flex" as |card|}}
					{{#card.header as |header|}}
						{{#header.text as |text|}}
							{{#text.title}}Main Office Location{{/text.title}}
						{{/header.text}}
						{{#paper-button primary=true raised=true mini=true onClick=(perform editPrimaryLocation) bubbles=false}}
							{{paper-icon "edit"}}
						{{/paper-button}}
					{{/card.header}}
					{{#card.content class="flex layout-row layout-align-center-stretch layout-wrap"}}
						{{#if model.location}}
							<div id="tenant-administrator-main-component-static-location-display" class="p-0 text-center flex-100 flex-gt-lg-70" style="min-height:15rem;">
								{{#if staticUrl}}
									<img border="0" src="{{staticUrl}}" alt="{{model.location.name}}" />
								{{else}}
									Fetching map...
								{{/if}}
							</div>
							<div class="flex-100 flex-gt-lg-30" style="font-style:italic;">
								{{model.location.line1}}<br />
								{{#if (not-eq model.location.line2 '')}}{{model.location.line2}}<br />{{/if}}
								{{#if (not-eq model.location.line3 '')}}{{model.location.line3}}<br />{{/if}}
								{{#if (not-eq model.location.area '')}}{{model.location.area}}<br />{{/if}}
								{{model.location.city}}<br />
								{{model.location.state}}<br />
								{{model.location.country}}&nbsp;{{model.location.postalCode}}
							</div>
						{{else}}
							{{#paper-button class="flex" primary=true raised=true onClick=(perform addPrimaryLocation) bubbles=false}}
								{{fa-icon "map-marked" class="mr-1"}} Add Main Office Location
							{{/paper-button}}
						{{/if}}
					{{/card.content}}
				{{/paper-card}}
			{{/card.content}}
		{{/paper-card}}

		{{#paper-card class="flex" as |card|}}
			{{#card.content class="p-0 layout-column layout-align-start-stretch"}}
				{{#bs-navbar type="light" backgroundColor="white" collapsed=false fluid=true as |navbar|}}
					{{#navbar.content}}
						{{#navbar.nav class="layout-row layout-align-start-center" as |nav|}}
							{{#nav.item class="mr-4"}}Feature Management{{/nav.item}}
							{{#nav.item class="mr-4"}}Groups &amp; Permissions{{/nav.item}}
							{{#nav.item}}User Management{{/nav.item}}
						{{/navbar.nav}}
					{{/navbar.content}}
				{{/bs-navbar}}

				{{liquid-outlet class="mt-2 flex"}}
			{{/card.content}}
		{{/paper-card}}
	</div>
</div>
