<!-- For the configurable Page Title -->
{{head-layout}}
{{page-title mainTitle}}

<!-- Customizable Header -->
<header class="sticky-top">
	{{#bs-navbar class="p-0 px-2 py-1" position="sticky-top" type="light" backgroundColor="twyr" collapsed=false fluid=true as |navbar|}}
		<div class="navbar-header">
			{{#link-to "index" class="navbar-brand white-text"}}
				<span class="h3" style="font-family:Keania One;">Twy&apos;r</span>
			{{/link-to}}
		</div>
		{{#navbar.content}}
			{{#navbar.nav id="twyr-webapp-server-template-bhairavi-notification-area" class="ml-auto nav-flex-icons white-text layout-row layout-align-end-center" as |nav|}}
				{{#nav.item}}{{component "tenant/notification-area"}}{{/nav.item}}
				{{#nav.item}}{{component "dashboard/notification-area"}}{{/nav.item}}
				{{#nav.item}}{{component "profile/notification-area"}}{{/nav.item}}
				{{#nav.item}}{{component "session/logout-component"}}{{/nav.item}}
			{{/navbar.nav}}
		{{/navbar.content}}
	{{/bs-navbar}}
</header>

<!-- Main Area -->
<main class="bg-light" style="box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);">
	<div id="twyr-webapp-server-template-bhairavi-first-row" class="layout-row flex-initial">
		<div id="twyr-webapp-server-template-bhairavi-first-row-position-1" class="flex-initial"></div>
		<div id="twyr-webapp-server-template-bhairavi-first-row-position-2" class="flex-initial"></div>
		<div id="twyr-webapp-server-template-bhairavi-first-row-position-3" class="flex-initial"></div>
	</div>
	<div id="twyr-webapp-server-template-bhairavi-second-row" class="layout-row flex-initial">
		<div id="twyr-webapp-server-template-bhairavi-second-row-position-1" class="flex-initial"></div>
		<div id="twyr-webapp-server-template-bhairavi-second-row-position-2" class="flex-initial"></div>
		<div id="twyr-webapp-server-template-bhairavi-second-row-position-3" class="flex-initial"></div>
	</div>
	<div id="twyr-webapp-server-template-bhairavi-main-row" class="layout-row flex-initial">
		<div id="twyr-webapp-server-template-bhairavi-main-row-left-column" class="layout-column layout-align-start flex-initial"></div>
		<div id="twyr-webapp-server-template-bhairavi-main-row-outlet" class="layout-row layout-align-center-start flex">
			{{liquid-outlet class="flex"}}
		</div>
		<div id="twyr-webapp-server-template-bhairavi-main-row-right-column" class="layout-column layout-align-start flex-initial">
			{{component "session/login-component"}}
		</div>
	</div>
	<div id="twyr-webapp-server-template-bhairavi-bottom-row" class="layout-row flex-initial">
		<div id="twyr-webapp-server-template-bhairavi-bottom-row-position-1" class="flex-initial"></div>
		<div id="twyr-webapp-server-template-bhairavi-bottom-row-position-2" class="flex-initial"></div>
		<div id="twyr-webapp-server-template-bhairavi-bottom-row-position-3" class="flex-initial"></div>
	</div>
</main>

<!-- Customizable Footer -->
<footer class="page-footer mt-2 layout-row layout-align-space-between grey">
	<div class="flex p-3 text-left">
		{{#link-to "freestyle"}}Styleguide{{/link-to}}
	</div>
	<div class="flex p-3 text-right">
		Copyright&copy; 2016 {{#if displayCurrentYear}}- {{currentYear}} {{/if}}{{#link-to "index"}}Twy&apos;r{{/link-to}}. All rights reserved.
	</div>
</footer>

<!-- The mandatory empty div elements for wormhole, paper, bootstrap, etc. -->
<div id="ember-bootstrap-wormhole"></div>
<div id="ember-basic-dropdown-wormhole"></div>
<div id="paper-wormhole"></div>
<div id="paper-toast-fab-wormhole"></div>


<!-- Modal -->
{{#liquid-if showDialog}}
{{#paper-dialog class=modalData.dialogClass onClose=(action "controller-action" "closeDialog" false) parent=modalData.parentElement origin=modalData.dialogOrigin clickOutsideToClose=false escapeToClose=false}}
	{{#paper-toolbar class="stylish-color white-text"}}
		{{#paper-toolbar-tools}}
		<h2>{{modalData.title}}</h2>
		{{/paper-toolbar-tools}}
	{{/paper-toolbar}}

	{{#if modalData.componentName}}
		{{#paper-dialog-content class="flex m-0 p-0"}}
			{{component modalData.componentName state=modalData.componentState}}
		{{/paper-dialog-content}}
	{{else}}
		{{#paper-dialog-content}}
			{{{modalData.content}}}
		{{/paper-dialog-content}}
	{{/if}}

	{{#if (or modalData.confirmButton modalData.cancelButton)}}
		{{paper-divider}}
		{{#paper-dialog-actions class="layout-row layout-align-end-center"}}
			{{#if modalData.cancelButton}}
				{{#paper-button primary=(not (not modalData.cancelButton.primary)) accent=(not (not modalData.cancelButton.accent)) warn=(not (not modalData.cancelButton.warn)) raised=(not (not modalData.cancelButton.raised)) onClick=(action "controller-action" "closeDialog" false)}}
					{{paper-icon modalData.cancelButton.icon class="mr-1"}}<span>{{modalData.cancelButton.text}}</span>
				{{/paper-button}}
			{{/if}}

			{{#if modalData.confirmButton}}
				{{#paper-button primary=(not (not modalData.confirmButton.primary)) accent=(not (not modalData.confirmButton.accent)) warn=(not (not modalData.confirmButton.warn)) raised=(not (not modalData.confirmButton.raised)) onClick=(action "controller-action" "closeDialog" true)}}
					{{paper-icon modalData.confirmButton.icon class="mr-1"}}<span>{{modalData.confirmButton.text}}</span>
				{{/paper-button}}
			{{/if}}
		{{/paper-dialog-actions}}
	{{/if}}
{{/paper-dialog}}
{{/liquid-if}}
